.sidenav {
    height: 100%;
    width: 31.7%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url("https://storage.googleapis.com/lumen5-site-images/website-assets/login-bg3.png");
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    box-sizing: border-box;
    padding: 22px 3.7%;
}

.sidenavHeading {
    font-size: 48px;
    font-weight: 500;
    line-height: 58px;
    margin-bottom: 30px;
}

.sidenavPara {
    font-size: 25px;
}

.sidenavGrid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.afterSidenav {
    /* margin-top: -660px; */
    /* width:30%; */
    margin-left: 31.7%;
    padding-left: 8.7%;
    padding-right: 16.5%;
}

.heading {
    font-size: 37px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 50px;
}

.formData>div {
    margin-bottom: 15px;
}

.formData>input {
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 30px;
    font-size: 15px;
    color: gray;
    margin-bottom: 13px;
    padding-bottom: 8px;
}

.formData>input:focus {
    outline: none;
    border-bottom: 2px solid #5846f6;
    height: 29px;
}

.passwordDivision {
    display: flex;
    justify-content: space-between;
}

.passwordEye {
    cursor: pointer;
    color: lightgray;
    display: flex;
    gap: 10px;
}

.passwordEye:hover {
    color: gray;
}

.afterPassword {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 26px;
}

.afterPassword span {
    color: #5846f6;
}

.handleSignUp {
    cursor: pointer;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    background-color: #5846f6;
    border: none;
    width: 100%;
}

.handleSignUp:hover {
    background-color: #3722f3;
}

.hrDivision {
    display: flex;
    align-items: center;
    margin: 25px 0px;
}

.hrDivision>hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
}

.hrDivision>div {
    margin: 0px 15px;
    color: grey;
}

.button2 {
    cursor: pointer;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
    width: 100%;
    border-color: #4267b2;
    background: white;
color: #4a68ad;
    font-family: "Poppins", sans-serif;
}
.button3 {
    cursor: pointer;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
        font-family: "Poppins", sans-serif;
    width: 100%;
    border: 2px solid #5846f6;
    background: white;
    color: #5846f6;
}
.bottomLines {
    margin-top: 25px;
}

.bottomLines>a {
    text-decoration: none;
    color: #5846f6 !important;
    text-decoration: underline;
}

.conclusionLine {
    text-align: center;
    margin-top: 25px;
    font-size: 12px;
    color: grey;
}
.conclusionLine>a {
    text-decoration: none;
    color: gray;
    text-decoration: underline;
}
/* ////////////////////////////dashboard style start */


.navbar{
    background-color:white;
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid black;
    padding:1rem;
}
.RightDiv{
    display:flex;
    /* margin-right: 2rem; */
    /* row-gap: 4%; */
    /* width:40%; */
    /* gap:4%; */

    /* text-align:center; */
    /* margin:auto; */
    /* align-items: center; */
    /* border: 1px solid black; */
}
.RightDiv div{

}
/* .logoDiv{

} */
.upgrade{
    border: 1px solid #5846f6;
        color: #5846f6;
        /* min-width: 70px; */
        border-radius: 100px;
        text-transform: none;
        font-weight: 200;
        /* appearance: none; */
        /* font-size: 1rem; */
        /* line-height: 1.5; */
        /* font-weight: 400; */
        /* padding: 0.8571428571rem 0.8571428571rem; */
        font-size: 1rem;
        line-height: 1.5;
        cursor: pointer;
        background-color: transparent;
        margin-left: 3%;
        margin-right: 3%;
}

.bodyLeftDiv{
    top: 0%;
    /* bo */
    font-family: "Poppins", sans-serif;
    color: #7e889a;
        font-weight: 400;
        width: 18%;
        box-sizing: border-box;
       /* background-color: red; */
       /* border-right: 1px solid black; */
       background-color:white;
       height: 89.5vh;

}
.bodyLeftDiv div{
/* background-color:green; */
margin-left: 10px;
}
.bodydivs{
    display: flex;
}

.bodyRightDiv{
    width:100%;
    background-color:#f0f0f4;
    text-align: center;
}

.bodyRightDivFirst{
    display: flex;
    justify-content:space-between;
        /* border: 1px solid red; */
        text-align: center;
        align-items: center;
        margin-top: 30px;
    margin: 25px 50px 0px 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
/* bodyRightDiv */

.bodyRightDivFirstOption{
    height:40px;

    width:15%;
}
.rightDivItem{
    display: flex;
    gap: 4%;
}
/* .inblock{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4%;

}
.inblock video{width:100%;

} */
/* //////////////////////////////dashBord videos */
.block {
    width: 90%;
    margin: 7vh auto;
    /* border: 1px solid black; */
}

/* .block>p {
    font-size: 20px;
    margin: 1vh 0 0.5vh 0;
} */

.inblock {
    /* border: 1px solid red; */
    display: flex;
    gap: 2%;
    flex-direction: row;
}

.block-scroll {
    overflow: scroll;
}

.inblock>div {
    width: 25%;
    height: 44vh;
    /* min-width: 22%; */
    /* border: 1px solid green; */
    border-radius: 2px;
}

.inblock>div:hover {
    transform: scale(1.05);

    cursor: pointer;
}

.inblock>div>video {
    width: 101%;
    height: 70%;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #999;
}

.inblock>div>video:focus {
    border: none;
}


/* .............upgrade page  */

.upgradeTop{
    text-align: center;
    /* cursor: pointer;
     */
   
}
/* //////////////////////// */



/* ......................pricing page */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #30336b;
    min-height: 100vh;
    display: flex;
    align-items: center;
} */

.Innerprice{
    /* border:1px solid black; */
    /* max-width: 160px; */
    /* padding-left:1.5%; */
    /* height: 300px; */
    margin: 10px;
        width: 223px;
        border: 1px solid #dddee6;
        /* box-sizing: border-box; */
        border-radius: 10px;
        /* display: flex; */
            /* grid-template-columns: 30% 30%; */
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 20px;

        font-family: "Poppins", sans-serif;
        padding-right: 20px;
}

.Innerprice h5{
    font-weight: 600;
        font-size: 21px;
        line-height: 22px;
            color: #24282f;
            
                text-align: left;
                
}
.Innerprice button{
    /* background-color: #9b90fa; */
    border:none;
    padding:6%;
    width: 90%;
    margin:auto;
    text-align:center;
    margin-top:30px;
    border-color: #5846f6;
    cursor: pointer;
        background-color: #5846f6;
        color:#fff;
        opacity: .6;
            box-shadow: none;
            min-width: 70px;
            text-transform: none;
                font-weight: 400;
                border-radius: 50rem !important;
}
/* .Innerprice{
    display:grid;
    grid-template-columns:30% 30%;
} */
.Innerprice button:hover{
    background-color:#210be2;
}
.priceMAin{
    width:100%;
    /* margin-right: 4%; */
    display: grid;
    gap: 4%;
    margin:auto;
grid-template-columns: 22% 22% 22% 22%
}

/* payment sdpage start.............. */

.mainPayments{
    /* border: 1px solid black; */
    width:50%;
    text-align: center;
    background:rgb(255 255 255);
    box-shadow: 15px 0 30px 0 rgb(0 0 0 / 18%);
    height:100vh;
    font-family: "Poppins", sans-serif;
}

.pricingPayment{
    display: grid;
    grid-template-columns:auto auto;
    justify-content:space-evenly;
    text-align: center;
    gap: 10%;
    align-items: center;
}
.pricingPayment div{
margin-top: 20px;
    /* border:1px solid black; */
}

.onePage{
    display:flex;
}

.inputSection{
    width:50%
}


/* //////////////////////PAYMENT RIGHTSIDE CSS */



.inputSection{
width:fit-content;
border:1px solid black;
/* padding:4%; */

}
#firstinp{
    /* width:400px */
    padding:3%;
    width: 300px;margin:auto;
    text-align:center;
    align-items:center;

}
/* //////////////////////////new way */
.main_bx {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Ubuntu, sans-serif;
    font-size: 16px;
    color: rgba(26, 26, 26, 0.9);
    color: #1a1a1a80;
    -webkit-font-smoothing: antialiased;
}

.main_bx {
    display: flex;
    justify-content: center;
    /* border:2px solid black; */
    /* width:90%; */
    gap: 5%;
    margin-top: 40px;
}

.leftMain_Bx {
    margin-top: 03px;
    box-sizing: border-box;
    height: 449px;
    width: 380px;
    /* border:2px solid black; */
    /* margin-left:15%; */
}

.pic {
    width: 105.65px;
    height: 27.99px;
    margin-bottom: 10px;
}

.clr {
    color: rgba(26, 26, 26, 0.9);
    font-size: 36px;
    margin-top: -20px;
}

.topStyle {
    font-weight: 600;
}

.span1 {
    display: inline-block;
    color: #1a1a1a80;
    font-size: 14px;
    /* box-sizing: border-box; */
    width: 50px;
    height: 45px;
    /* border:2px solid black; */
}

.opt {
    height: 41.6px;
    width: 372px;
    margin-bottom: 30px;
}

.opt1 {
    display: flex;
    height: 20.8px;
    width: 372px;
    color: #1a1a1a80;
    justify-content: space-between;
    font-size: 14px;
}

.span2 {
    color: rgba(26, 26, 26, 0.9);
    font-size: 14px;
    font-weight: 500;
    /* margin-left:150px; */
}

.Pstyles {
    border: 1px solid black;
    border-style: none;
    width: 5px;
    background-color: #f9f9f9;
}

.rightMain_Bx {
    box-sizing: border-box;
    /* border:2px solid brown; */
    /* margin:auto; */
    height: 723.2px;
    width: 375px;
    color: #1a1a1ab3;
}

.clrBlck {
    color: rgba(26, 26, 26, 0.9);
    font-size: 13px;
    
}

.emailSet_Bx {
    border-radius: 07px;
    background-color: #f7f7f7;
    height: 36px;
    width: 350px;
    /* border: 2px solid #1a1a1ab3; */
    margin-top: 12px;
    padding-left: 12px;
        /* box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%) !important; */
    font-size: 14px;
    /* margin-bottom:20px; */
}

.NameCard {
    margin-bottom: 15px;
}

.emailSetDiv {
    display: flex;
    margin-top: 08px;
}

.mainInp_boxx {
    /* border:2px solid salmon; */
    height: 112.8px;
    width: 396px;
    /* margin-bottom:20px; */
}

.inpflex_box {
    display: flex;
    /* margin-bottom: 20px; */
        /* box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%) !important; */
}.cardInpTop {
    border-top-left-radius: 6px;
    /* box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%) !important; */
    /* border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; */
    border-top-right-radius: 6px;
}

.inpBx_size {
    height: 30px;
    width: 350px;
    padding-left: 12px;
    /* padding:8px 12px; */
        /* box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%) !important; */
    /* border-bottom-left-radius: 6px; */
}


.cardInpBtm {
    /* width: 94%; */
    width: 354px;
    border-bottom-left-radius: 6px;
    /* padding-left: 12px; */
}

.inpBx_size1 {
    height: 30px;
        /* box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%) !important; */
    width: 167px;
    padding-left: 12px;
    /* border-bottom-left-radius: 6px; */
    /* padding:8px 12px; */
   /* border-top-right-radius:6px; */
   border-bottom-right-radius:6px;
    border-top: none;
}

.slctStyle {
    width: 368px;
    font-size: 16px;
    border-top-left-radius: 6px;
        box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%) !important;
    /* border-top:1px solid black; */
    border: none;
}

.uDropDwn {
    text-decoration: underline;
    cursor: pointer;
}

.btn {
    height: 40px;
    width: 368px;
    background-color: rgb(88, 70, 246);
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
}

.btnC {
    text-align: center;
    margin: auto;
    padding-top: 10px;
    
    width: 80px;
}
input{
    /* background-color:red !important;    */
    border:none !important;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%) !important;
}

input:focus {
    outline: none !important;
    /* border: 1px solid red !important; */
    box-shadow: 0 0 10px #719ECE !important;
}

/* ............otp page */

.otp-input input {
    border: 0px solid rgba(209, 213, 219, 1);
    background: #f7f5f5;
    width: 100% !important;
    margin: 0px !important;
    padding: 0.9rem 1rem;
    border-radius: 0.5rem;
}

.react-tel-input {
    width: 100%;
}

.react-tel-input input[type="tel"] {
    width: 100% !important;
    border: 1px solid rgba(209, 213, 219, 1) !important;
}

.flag-dropdown {
    background: transparent !important;
}


/* newOtp box */

.mainOTp{
    /* min-width: 360px; */
    width:30%;
        padding: 2rem;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
        border-radius: 4px;
        background: white;
        margin: auto;
}
.innerOTP{
    display: flex;
        flex-direction: column;
        align-items: center;
        /* padding:3px; */
        margin:13%;
margin:auto;    
}
.inpDiv{
        display: flex;
            flex-wrap: wrap;
               font-family: 'Lato', sans-serif;
                    font-size: 16px;;
                    font-size: 16px;
                    margin:auto;
/* border: 1px solid black; */
justify-content:center;
}
.otpinp{
    width: 3rem !important;
        height: 3rem;
        margin: 0 1rem;
        font-size: 2rem;
        border-radius: 4px;
}
.otpbtn{
        background-color: #3273dc;
            border: none;
            padding: 0.5rem 1rem;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            margin: 1rem;
            text-align: center;
        
}

.btnOTPdiv{
    display: flex;
 
    justify-content:space-around
}
input[type=number] {
    -moz-appearance: textfield;
}