.sidenav {
    height: 100%;
    width: 31.7%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url("https://storage.googleapis.com/lumen5-site-images/website-assets/login-bg3.png");
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    box-sizing: border-box;
    padding: 22px 3.7%;
}

.sidenavHeading {
    font-size: 48px;
    font-weight: 500;
    line-height: 58px;
    margin-bottom: 30px;
}

.sidenavPara {
    font-size: 25px;
}

.sidenavGrid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.afterSidenav {
    /* margin-top: -660px; */
    /* width:30%; */
    margin-left: 31.7%;
    padding-left: 8.7%;
    padding-right: 16.5%;
}

.heading {
    font-size: 37px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 50px;
}

.formData>div {
    margin-bottom: 15px;
}

.formData>input {
    border: none;
    border-bottom: 1px solid lightgray;
    width: 100%;
    height: 30px;
    font-size: 15px;
    color: gray;
    margin-bottom: 13px;
    padding-bottom: 8px;
}

.formData>input:focus {
    outline: none;
    border-bottom: 2px solid #5846f6;
    height: 29px;
}

.passwordDivision {
    display: flex;
    justify-content: space-between;
}

.passwordEye {
    cursor: pointer;
    color: lightgray;
    display: flex;
    gap: 10px;
}

.passwordEye:hover {
    color: gray;
}

.afterPassword {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 26px;
}

.afterPassword span {
    color: #5846f6;
}

.handleSignUp {
    cursor: pointer;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
    color: white;
    background-color: #5846f6;
    border: none;
    width: 100%;
}

.handleSignUp:hover {
    background-color: #3722f3;
}

.hrDivision {
    display: flex;
    align-items: center;
    margin: 25px 0px;
}

.hrDivision>hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
}

.hrDivision>div {
    margin: 0px 15px;
    color: grey;
}

.button2 {
    cursor: pointer;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
    width: 100%;
    border-color: #4267b2;
    background: white;
color: #4a68ad;
    font-family: "Poppins", sans-serif;
}
.button3 {
    cursor: pointer;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
        font-family: "Poppins", sans-serif;
    width: 100%;
    border: 2px solid #5846f6;
    background: white;
    color: #5846f6;
}
.bottomLines {
    margin-top: 25px;
}

.bottomLines>a {
    text-decoration: none;
    color: #5846f6 !important;
    text-decoration: underline;
}

.conclusionLine {
    text-align: center;
    margin-top: 25px;
    font-size: 12px;
    color: grey;
}
.conclusionLine>a {
    text-decoration: none;
    color: gray;
    text-decoration: underline;
}
/* ////////////////////////////dashboard style start */


.navbar{
    background-color:white;
    display:flex;
    justify-content:space-between;
    border-bottom: 1px solid black;
    padding:1rem;
}
.RightDiv{
    display:flex;
    /* margin-right: 2rem; */
    /* row-gap: 4%; */
    /* width:40%; */
    /* gap:4%; */

    /* text-align:center; */
    /* margin:auto; */
    /* align-items: center; */
    /* border: 1px solid black; */
}
.RightDiv div{

}
/* .logoDiv{

} */
.upgrade{
    border: 1px solid #5846f6;
        color: #5846f6;
        /* min-width: 70px; */
        border-radius: 100px;
        text-transform: none;
        font-weight: 200;
        /* appearance: none; */
        /* font-size: 1rem; */
        /* line-height: 1.5; */
        /* font-weight: 400; */
        /* padding: 0.8571428571rem 0.8571428571rem; */
        font-size: 1rem;
        line-height: 1.5;
        cursor: pointer;
        background-color: transparent;
        margin-left: 3%;
        margin-right: 3%;
}

.bodyLeftDiv{
    top: 0%;
    /* bo */
    font-family: "Poppins", sans-serif;
    color: #7e889a;
        font-weight: 400;
        width: 18%;
        box-sizing: border-box;
       /* background-color: red; */
       border-right: 1px solid black;
       background-color:white;
       height: 89.5vh;

}
.bodyLeftDiv div{
/* background-color:green; */
}
.bodydivs{
    display: flex;
}

.bodyRightDiv{
    width:100%;
    background-color:#f0f0f4;
    text-align: center;
}

.bodyRightDivFirst{
    display: flex;
    justify-content:space-between;
        /* border: 1px solid red; */
        text-align: center;
        align-items: center;
        margin-top: 30px;;
}
/* bodyRightDiv */

.bodyRightDivFirstOption{
    height:40px;

    width:15%;
}
.rightDivItem{
    display: flex;
    gap: 4%;
}
/* .inblock{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 4%;

}
.inblock video{width:100%;

} */
/* //////////////////////////////dashBord videos */
.block {
    width: 90%;
    margin: 7vh auto;
    /* border: 1px solid black; */
}

/* .block>p {
    font-size: 20px;
    margin: 1vh 0 0.5vh 0;
} */

.inblock {
    /* border: 1px solid red; */
    display: flex;
    gap: 2%;
    flex-direction: row;
}

.block-scroll {
    overflow: scroll;
}

.inblock>div {
    width: 25%;
    height: 44vh;
    /* min-width: 22%; */
    /* border: 1px solid green; */
    border-radius: 2px;
}

.inblock>div:hover {
    transform: scale(1.05);

    cursor: pointer;
}

.inblock>div>video {
    width: 101%;
    height: 102%;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #999;
}

.inblock>div>video:focus {
    border: none;
}


/* .............upgrade page  */

.upgradeTop{
    text-align: center;
    /* cursor: pointer;
     */
   
}
/* //////////////////////// */



/* ......................pricing page */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #30336b;
    min-height: 100vh;
    display: flex;
    align-items: center;
} */

.Innerprice{
    /* border:1px solid black; */
    /* max-width: 160px; */
    /* padding-left:1.5%; */
    /* height: 300px; */
    margin: 10px;
        width: 223px;
        border: 1px solid #dddee6;
        /* box-sizing: border-box; */
        border-radius: 10px;
        /* display: flex; */
            /* grid-template-columns: 30% 30%; */
        padding-top: 20px;
        padding-bottom: 40px;
        padding-left: 20px;

        font-family: "Poppins", sans-serif;
        padding-right: 20px;
}

.Innerprice h5{
    font-weight: 600;
        font-size: 21px;
        line-height: 22px;
            color: #24282f;
            
                text-align: left;
                
}
.Innerprice button{
    /* background-color: #9b90fa; */
    border:none;
    padding:6%;
    width: 90%;
    margin:auto;
    text-align:center;
    margin-top:30px;
    border-color: #5846f6;
    cursor: pointer;
        background-color: #5846f6;
        color:#fff;
        opacity: .6;
            box-shadow: none;
            min-width: 70px;
            text-transform: none;
                font-weight: 400;
                border-radius: 50rem !important;
}
/* .Innerprice{
    display:grid;
    grid-template-columns:30% 30%;
} */
.Innerprice button:hover{
    background-color:#210be2;
}
.priceMAin{
    width:100%;
    /* margin-right: 4%; */
    display: grid;
    gap: 4%;
    margin:auto;
grid-template-columns: 22% 22% 22% 22%
}

/* payment sdpage start.............. */

.mainPayments{
    /* border: 1px solid black; */
    width:50%;
    text-align: center;
    background:rgb(255 255 255);
    box-shadow: 15px 0 30px 0 rgb(0 0 0 / 18%);
    height:100vh;
    font-family: "Poppins", sans-serif;
}

.pricingPayment{
    display: grid;
    grid-template-columns:auto auto;
    justify-content:space-evenly;
    text-align: center;
    gap: 10%;
    align-items: center;
}
.pricingPayment div{
margin-top: 20px;
    /* border:1px solid black; */
}

.onePage{
    display:flex;
}

.inputSection{
    width:50%
}


/* //////////////////////PAYMENT RIGHTSIDE CSS */



.inputSection{
width:fit-content;
border:1px solid black;
/* padding:4%; */

}
#firstinp{
    /* width:400px */
    padding:3%;
    width: 300px;margin:auto;
    text-align:center;
    align-items:center;

}
